<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>Arrival_GTFSDBTests</key>
		<dict>
			<key>testDBIntalizerSpeed()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>6.482502</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 27, 2023 at 14:49:16</string>
				</dict>
			</dict>
			<key>testRoutesDBSpeed()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.099356</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 27, 2023 at 14:49:16</string>
				</dict>
			</dict>
			<key>testStationsDBSpeed()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000349</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 27, 2023 at 14:49:16</string>
				</dict>
			</dict>
			<key>testStopTimesDBSpeed()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.988916</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 27, 2023 at 14:49:16</string>
				</dict>
			</dict>
			<key>testTripsDBSpeed()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.456153</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 27, 2023 at 14:04:14</string>
				</dict>
			</dict>
		</dict>
		<key>Arrival_GTFSTests</key>
		<dict>
			<key>testArrivalGTFSIntSpeed()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>42.895640</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 26, 2023 at 22:26:20</string>
				</dict>
			</dict>
			<key>testComputedSpeed()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>41.803454</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 26, 2023 at 22:26:20</string>
				</dict>
			</dict>
			<key>testGTFSBuildSpeed()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>35.819638</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 26, 2023 at 22:26:20</string>
				</dict>
			</dict>
			<key>testGTFSReadSpeed()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>43.113739</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 26, 2023 at 22:26:20</string>
				</dict>
			</dict>
			<key>testRoutesForStopSpeed()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.003417</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 26, 2023 at 22:26:20</string>
				</dict>
			</dict>
			<key>testStopTimesForStopSpeed()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.012273</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 26, 2023 at 22:26:20</string>
				</dict>
			</dict>
			<key>testTripsForStopSpeed()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.271907</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 26, 2023 at 22:26:20</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
